@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap'); 
/* import Poiret One font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* Import Indie Flower font */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
/* Import Prompt font */

#mainLabel1 {
  animation: fadeIn;
  animation-duration: 2s;
  padding-bottom: 2.5rem;
  font-family: "Poiret One", Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-size: 4.375rem;
}

#mainLabel2 {
  animation: fadeIn;
  animation-duration: 8s;
  --animate-delay: 10s;
  padding-bottom: 1.25rem;
  font-family: "Indie Flower", Georgia, 'Times New Roman', Times, serif
}

#mainLabel3 {
  animation: fadeIn;
  animation-duration: 13s;
  --animate-delay: 10s;
  padding-bottom: 1.25rem;
  font-weight: bolder;
  font-family: "Prompt", Georgia, 'Times New Roman', Times, serif
}

#mainLabel4 {
  animation: fadeIn;
  animation-duration: 18s;
  --animate-delay: 10s;
  padding-bottom: 1.25rem;
  font-family: "Consolas", Georgia, 'Times New Roman', Times, serif
}