:root {
  --var-black: #2A2B2A;
  --var-blueText: rgb(112, 200, 237);
  --var-blueBack: #5386E4;
  --var-lightText: rgb(255, 255, 255);
}

body {
  background-color: var(--var-black);
  color: var(--var-blueText);
}

.active1 {
  background: var(--var-lightText);
  color: var(--var-lightText)
}

.colour-black {
  color:var(--var-black);
}

ul, li, h3{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.titleLabel1 {
  padding-left: 4rem
}

.titleLabel2 {
  padding-left: 1rem
}

h1 {
  padding-top: 1.25rem;
}

footer {
  position: relative;
  top:74px
}

button {
  max-width: 12.5rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  margin-left: 0.625rem;
}