.preview {
  max-width: 400px;
}

#projectList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.project:hover img {
  animation: pulse;
  animation-duration: 1s;
}

.image-label {
  display:block;
  position: relative;
  margin-top: -100px;
  z-index: -1;
  text-decoration: none;
  color: black;
  width: 40px;
  margin-left: 180px; 
}

.project:hover .image-label {
  z-index: 1;
}