.preview {
  max-width: 25rem;
}

#projectList {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3.125rem;
}

.project:hover img {
  animation: pulse;
  animation-duration: 1s;
}

.image-label {
  display:block;
  position: relative;
  margin-top: -6.25rem;
  z-index: -1;
  text-decoration: none;
  color: black;
  width: 2.5rem;
  margin-left: 11.25rem; 
}

.project:hover .image-label {
  z-index: 1;
}